html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

body {
  background: url("./src/win951.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.container {
  background: #000000;
  position: relative;
  resize: both;
  overflow: auto;
  width: 600px;
  height: 450px;
}

.browser-frame {
  position: relative;
  padding: 132px 0 55px 0;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  border-image-slice: 171 57 57 515 fill;
}

.browser-frame::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-image: url("./src/netscape.png");
  border-image-slice: 171 57 57 515 fill;
  border-image-width: 170px 56px 57px 515px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: repeat repeat;
  pointer-events: none;
}

.center {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
}

main {
  padding: 10px 0;
  background: #000000;
  text-align: center;
  color: rgb(0, 183, 255);
  height: 100%;
  overflow: auto;



}

.couldnt-do-this-in-the-90s {
  display: flex;
  align-items: center;
  justify-content: center;
}
.couldnt-do-this-in-the-90s img {
  width: 60px;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0 20px;
}


.gif {

  width: 30vw; 
  min-width: 300px; 
  text-align: center;
  margin: 5% auto;
 } 


.post {
  margin-left: auto;
  margin-right: auto;
  width: 25em

}



h1 {
  margin: 0;
}

img {
  width: 80%;
  height: auto;
}

table, td {
  margin: 20px auto;
  border: outset 1px limegreen;
  color: hotpink;
  padding: 2px;
}

td {
  padding: 3px 10px;
}

a {
  color: hotpink;
}

#drag-handle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 85px;
}

.resize-handle {
  position: absolute;
  width: 0px;
  height: 0px;
  right: 0;
  bottom: 0;
  top: auto !important;
  left: auto !important;
  margin-top: -22px;
  margin-left: -22px;
  width: 20px;
  height: 20px;
  cursor: nw-resize !important;
}